{% extends 'base_fluid_user.html.twig' %}

{% block navBarSectionTitle %}<a href="{{ path('user_mutriku') }}">MUTRIKU</a>{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link href="/assets/css/common.css" rel="stylesheet">
{% endblock %}


{% block nabBarLeftContent %}


    {% endblock %}




    {% block content %}

        <div class="page-loader" style="display: none">
            <div class="loader">
                <span>{% trans %}CARGANDO{% endtrans %}...</span>
                <span class="dot dot_1"></span>
                <span class="dot dot_2"></span>
                <span class="dot dot_3"></span>
                <span class="dot dot_4"></span>
                <br /><br /><br />
                <span class="align-content-center text-center"><a id="closeLoader" href="#"> {% trans %}Cerrar{% endtrans %}</a></span>
            </div>

        </div>



        <div id="downloadIcon">
            <form method="post" action="/user/dashboard/mutriku/zipdownload" id="filesForm">
                <input type="hidden" name="filesToDownload" id="filesToDownload">
                <input type="hidden" name="CustomFieldsfilesToDownload" id="CustomFieldsfilesToDownload">
                <i class="glyphicon glyphicon-download-alt"></i>
            </form>
        </div>

        <div class="row">
            <div id="calendar-holder" class="col-10"></div>
            <div id="" class="col-2">
                <h4>{% trans %}Listado de decargas{% endtrans %}</h4>
                <h7><input type="checkbox" name="CustomFields" id="CustomFields"> {% trans %}Campos personalizados{% endtrans %}</h7>
                <div id="customFieldsList" style="display: none;">
                    <span>Selecciona y ordena los campos deseados.</span>
                    <table class="table" id="customFieldsTable">
                        <tbody>
                        <tr id="1">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="active_current_a" id="active_current_a">
                                </div></td>
                            <td>{% trans %}Corriente activa{% endtrans %}</td>
                        </tr>
                        <tr id="2">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="automatic" id="automatic">
                                </div></td>
                            <td>{% trans %}Modo funcionamiento{% endtrans %}</td>
                        </tr>
                        <tr  id="3">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="av_power1min_w" id="av_power1min_w">
                                </div></td>
                            <td>{% trans %}Potencia media 1 min{% endtrans %} (W)</td>
                        </tr>
                        <tr  id="4">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="av_power5min_w" id="av_power5min_w">
                                </div></td>
                            <td>{% trans %}Potencia media 5 min{% endtrans %} (W)</td>
                        </tr>
                        <tr  id="5">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="damper_actual_position_deg" id="damper_actual_position_deg">
                                </div></td>
                            <td>{% trans %}Posición válvula{% endtrans %}</td>
                        </tr>
                        <tr  id="6">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="drive_healthy" id="drive_healthy">
                                </div></td>
                            <td>{% trans %}Disponible / operativo{% endtrans %}</td>
                        </tr>
                        <tr  id="7">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="motor_rpm" id="motor_rpm">
                                </div></td>
                            <td>{% trans %}Velocidad de giro{% endtrans %} (rpm)</td>
                        </tr>
                        <tr  id="8">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="ouput_voltage_v" id="ouput_voltage_v">
                                </div></td>
                            <td>{% trans %}Tensión{% endtrans %} (V)</td>
                        </tr>
                        <tr  id="9">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="output_frequency_hz" id="output_frequency_hz">
                                </div></td>
                            <td>{% trans %}Frecuencia{% endtrans %} (Hz)</td>
                        </tr>
                        <tr  id="10">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="power_k_w" id="power_k_w">
                                </div></td>
                            <td>{% trans %}Potencia activa{% endtrans %}</td>
                        </tr>
                        <tr  id="11">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="pressure_pa" id="pressure_pa">
                                </div></td>
                            <td>{% trans %}Presión cámara{% endtrans %}</td>
                        </tr>
                        <tr  id="12">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="reactive_current_a" id="reactive_current_a">
                                </div></td>
                            <td>{% trans %}Corriente reactiva{% endtrans %} (Ar)</td>
                        </tr>
                        <tr  id="13">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="rmspressure_pa" id="rmspressure_pa">
                                </div></td>
                            <td>{% trans %}Presión Media{% endtrans %} (Pa)</td>
                        </tr>
                        <tr  id="14">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="vibration_mmps" id="vibration_mmps">
                                </div></td>
                            <td>{% trans %}Vibraciones{% endtrans %} (mmps)</td>
                        </tr>
                        <tr  id="15">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="flow1_pa" id="flow1_pa">
                                </div></td>
                            <td>{% trans %}Caída de presión{% endtrans %} 1 (Pa)</td>
                        </tr>
                        <tr  id="16">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="flow2_pa" id="flow2_pa">
                                </div></td>
                            <td>{% trans %}Caída de presión{% endtrans %} 2 (Pa)</td>
                        </tr>
                        <tr  id="17">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="wstatic_pressure_pa" id="wstatic_pressure_pa">
                                </div></td>
                            <td>{% trans %}Presión de salida{% endtrans %} (Pa)</td>
                        </tr>
                        <tr  id="18">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="temperature1" id="temperature1">
                                </div></td>
                            <td>{% trans %}Temperatura generador{% endtrans %} (ºC)</td>
                        </tr>
                        <tr  id="19">
                            <td><div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectedCustomFields" value="waterlevel" id="waterlevel">
                                </div></td>
                            <td>{% trans %}Nivel de agua{% endtrans %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
                <ul class="list-group" id="downloadsList">

                </ul>

            </div>
        </div>


    {% endblock %}


    {% block javascripts %}
        {{ parent() }}

        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/0.9.1/jquery.tablednd.js" integrity="sha256-d3rtug+Hg1GZPB7Y/yTcRixO/wlI78+2m08tosoRn7A=" crossorigin="anonymous"></script>

        <script type="text/javascript">

            document.addEventListener('DOMContentLoaded', () => {

                var calendarEl = document.getElementById('calendar-holder');

                var current_locale = '{{ app.request.getLocale() }}';

                var calendar = new FullCalendar.Calendar(calendarEl, {

                    locale: current_locale,
                    eventClick: function (info) {
                        // alert('Event: ' + info.event.title);
                        // alert('Id: ' + info.event.id);
                        addDownload(info.event.id, info.event.title);

                        // change the border color just for fun
                        // info.el.style.borderColor = 'red';
                        return false;
                    },
                    defaultView: 'dayGridMonth',
                    editable: true,
                    eventSources: [
                        {
                            url: "{{ path('fc_load_events') }}",
                            method: "POST",

                            extraParams: {
                                filters: JSON.stringify({"turbineId": '{{ selectedTurbineId }}'})
                            },
                            failure: () => {
                                alert("There was an error while fetching FullCalendar!");
                            },
                        },
                    ],
                    header: {
                        left: 'prev,next',
                        center: 'title',
                    //    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                       right: '',
                    },
                    plugins: ['interaction', 'dayGrid', 'timeGrid'], // https://fullcalendar.io/docs/plugin-index
                    timeZone: 'UTC',
                });
                calendar.render();
            });


            Array.prototype.remove = function() {
                var what, a = arguments, L = a.length, ax;
                while (L && this.length) {
                    what = a[--L];
                    while ((ax = this.indexOf(what)) !== -1) {
                        this.splice(ax, 1);
                    }
                }
                return this;
            };
            var filesToDownload = [];

            function addDownload(id,filename) {

                $("#downloadsList").append('<li id="file'+id+'" class="list-group-item d-flex justify-content-between align-items-center">'+filename+'<span class="badge badge-primary badge-pill removeElement" onclick="removeDownload('+id+')" ><i class="glyphicon glyphicon-remove"></i></span></li>');
                filesToDownload.push(id);
            }


            function removeDownload (id){
                $('#file'+id).remove();
                filesToDownload = filesToDownload.filter(x => x != id);
            }



        </script>


        <script>
            $(function () {

                $("#closeLoader").click(function (event) {
                    $('.page-loader').hide();
                });

                $("#downloadIcon").click(function (event) {
                    event.preventDefault();

                    // Ontengo los campos seleccionados, los meto en un array y asigno al campo oculto separado por comas.
                    var selectedFields = [];
                    $.each($("input[name='selectedCustomFields']:checked"), function(){
                        selectedFields.push($(this).val());
                    });
                    $('#CustomFieldsfilesToDownload').val(selectedFields.join(", "));
                    //alert("My favourite fields are: " + selectedFields.join(", "));

                    $('.page-loader').show();

                    // var datos = {
                    //     filesToDownload: filesToDownload
                    // }
                    $('#filesToDownload').val(filesToDownload);

                    // Contar numero de elementos para saber si está vacio
                    if(filesToDownload.length <= 0) {
                        $('.page-loader').hide();
                        alert('{% trans %}Debe seleccionar al menos un archivo para descargar{% endtrans %}');
                        return false;
                    }

                    $("#filesForm").submit(); // Submit the form
                    return false;

                    url: '/user/dashboard/mutriku/zipdownload',

                        $.ajax({
                            url: '/user/dashboard/mutriku/zipdownload',
                            type: 'POST',
                            data: datos,
                            dataType: 'binary',
                            xhrFields: {
                                'responseType': 'blob'
                            },
                        }).done(function (data, textStatus, request) {

                            var blob = new Blob([data]);

                            // the file name from server.

                            if (window.navigator && window.navigator.msSaveOrOpenBlob) { // for IE
                                window.navigator.msSaveOrOpenBlob(blob, fileName);
                            } else { // for others
                                var url = window.URL.createObjectURL(blob);
                                const a = document.createElement('a');
                                a.style.display = 'none';
                                a.href = url;
                                a.download = 'files.zip';
                                document.body.appendChild(a);
                                a.click();
                                window.URL.revokeObjectURL(url);


                            }

                        }).then(function () {


                        })

                });

                // Mostrar área de campos personalizados
                $("#CustomFields").click(function(){
                    $('#customFieldsList').toggle('slow');
                });

                // Inicializar ordenacion de la tabla de campos personalizados
                $("#customFieldsTable").tableDnD();

            });


        </script>


    {% endblock %}
